/**ROOT STUFF**/
html {
    background-color: black;
    background-size: cover;
    background-image: url(billeder/pawel-nolbert-291146-unsplash.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    color: white;
    font-family: 'share tech mono', monospace;
    font-size: 15px;
    scroll-behavior: smooth;

}


body {
    padding: 0;
    margin: 0;
    background-color: rgba(51, 34, 59, .4);
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

h2,
h3,
h4 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.7rem;
}

h4 {
    margin-top: 2rem;
}

@media (max-width:500px) {
    h4 {
        font-size: 1rem;
    }
}

h5 {
    margin: 0 0 1rem 0;
}

footer h2 {
    color: white;
    margin: 1em 0 0.4em 1em;
    position: fixed;
    bottom: 1rem;
    font-size: 1.5em;
    text-shadow: 2px 1px 4px #000000,
        1px 1px 10px #000000,
        4px 0 20px #000000;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

#tema1,
#tema2,
#tema3,
#tema4,
#about {
    font-family: 'Thasadith', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 1.5;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

video {
    margin-top: 3rem;
    width: 100%;
    height: auto;
}

.fill {
    height: 1rem;
}

/* NAVBAR CLASSES >>>>>>>>>>>>>>>>>>>>>>> */
body.gradientBody {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .6) 60%, rgba(0, 0, 0, 0.3) 100%);
}

nav {
    position: fixed;
    top: 0;
    height: 4rem;
}

.hamburgerIcon,
.hamburgerIcon:after,
.hamburgerIcon:before {
    cursor: pointer;
    width: 2rem;
    height: 0.33rem;
    background-color: white;
    margin-top: 2rem;
    margin-left: 1.33rem;
}

.hamburgerIcon:after,
.hamburgerIcon:before {
    content: " ";
    display: block;
    position: absolute;
    margin-top: -0.66rem;
    margin-left: 0.33rem;
}

.hamburgerIcon:before {
    margin-top: 0.66rem;
    margin-left: -0.33rem;
}

/* DROPDOWN MENU */
.dropdownItems {
    margin-top: 3.3rem;
    margin-left: 1em;
    display: none;
    list-style: none;
}

.dropdownItems li p {
    padding-left: 3rem;
}

@media(min-width: 525px) {
    .dropdownItems {
        font-size: 1.2rem;
    }
}

ul li:first-of-type {
    margin-bottom: 2rem;
}

li {
    margin-bottom: 1.5rem;
}

/* INDEX >>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
main {
    color: white;
    margin: 5rem 0 4.4rem 0;
    height: 80vh;

    /* Hides scrollbar */
    width: 110vw;
    overflow-y: scroll;
}

a,
a:visited {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

main a {
    color: #74c4ff;
}

main a:visited {
    color: #7479ff;
}

#landingPage {
    height: 76.3vh;
    color: white;
}

#landingPage h1 {
    text-align: center;
    line-height: 60vh;
}

#landingPage p:first-of-type{
    margin-top: -28vh;}

#landingPage > p {
    text-align: center;
}

#landingPage p.arrow {
    text-align: center;
    margin: 0;
    font-size: 1.5em;
}

#landingPage div {
    padding-top: 2vh;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0% {
        margin-top: -0.2rem;
    }

    30% {
        margin-top: 0rem;
    }

    100% {
        margin-top: -0.2rem;
    }
}


/* ARTICLES AND SECTIONS >>>>>>>>>>>>>>>>>>>>>>>> */

/* SECTION HEADER */
section {
    padding-right: 5vw;
}

section h2 {
    text-transform: uppercase;
    margin: 9rem 0 1rem 1rem;
    text-shadow: 2px 1px 4px #000000,
        1px 1px 10px #000000,
        4px 0 20px #000000;
}

/* ARTICLE BACKGROUNDS */
article {
    padding: 1rem 2rem 3.3rem 1rem;
    background-color: rgba(0, 0, 0, .7);
    overflow-x: hidden;
}

@media(min-width: 768px) {
    article {
        padding: 1rem 6rem 3.3rem 1rem;
    }
}

@media(min-width: 1200px) {
    .articleContentWrapper {
        margin: 0 auto;
        margin-top: 2rem;
    }

    section h2 {
        font-size: 2em;
        margin-left: -2.5rem;
        width: 900px;
    }
}

article:nth-of-type(even) {
    background-color: rgba(20, 0, 32, .7);
}

.articleContentWrapper {
    max-width: 900px;
}

section hr,
.hrOutsideSection {
    margin-top: -1rem;
    margin-left: -1rem;
    padding-bottom: 2.3rem;
    width: 100vw;
    color: rgba(119, 141, 232, 0.82);
    /*GRADIENT*/
    /*border-image: linear-gradient(to right, darkred, red, orange, yellow, green, cyan, blue, violet) 20%;*/
    border-top: 1px solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.hrOutsideSection {
    margin: 0;
}

/*TEMA 1 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.moodboard {
    margin: 3rem 0 3rem 0;
}

.moodboard p {
    width: 50%;
    margin: 1rem auto;
    text-align: center;
}

.moodboard img {
    display: block;
    width: 100%;
    height: auto;
}

/*CONTENT PDF*/
.contentPdf embed {
    width: 100%;
    height: 500px;
    margin-top: 1.5rem;
}


/*HOVER EFFECT FOR ALL IMAGES >>>>>>>*/

.containerForHover {
    padding: 1em 0;
    float: left;
    width: 100%;
}

.containerForHover .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}

.content {
    position: relative;
    width: 100%;
    max-width: 900px;
}

.content .contentOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 88.7%;
    margin-top: 1rem;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

/*OVERLAY FOR MOODBOARD IMG*/
.content .moodboardContentOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 84%;
    margin-top: 1rem;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .moodboardContentOverlay {
    opacity: 1;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>*/

/*OVERLAY FOR TECH LOUNGE IMG*/
.content .techContentOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 96%;
    margin-top: 1rem;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .techContentOverlay {
    opacity: 1;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>*/

.content:hover .contentOverlay {
    opacity: 1;
}

.contentImage {
    width: 100%;
    margin: 1rem 0 3rem 0;
}

.contentDetails {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .contentDetails {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.contentDetails h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.contentDetails p {
    color: #fff;
    font-size: 0.9em;
    letter-spacing: 0.15em;
}

.fadeinBottom {
    top: 80%;
}

/*>>>>>>>>>>>>>>>>*/

@media screen and (max-width: 400px) {

    .moodboard div,
    .moodboard img,
    .moodboardContainer {
        width: 100%;
    }
}

/*TEMA 2 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/*TEMA 3 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* ARTICLE CONTENT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
#styletile .imageRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

.imageWrapper {
    margin-bottom: 1rem;
    min-width: 100px;
    /*max-width: 300px;*/
    display: inline-block;
}

.imageWrapper img {
    width: 100%;
}

@media (max-width: 400px) {
    .imageRow {
        flex-wrap: wrap;
    }

    .imageWrapper {
        min-width: 100%;
    }
}

/*DESKTOP VERSION >>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {
    #styletile .imageRow {
        justify-content: space-between;
    }

    .imageWrapper {
        margin-right: 3rem;
    }

    .imageRow .imageWrapper:last-of-type {
        margin-right: 0;
    }
}

/*SCENE MED FIGURDESIGN */
.singleImagewrapper img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

.sceneRow {
    display: inline-block;
}

/***BESKRIVELSE AF FORM */

.circleWrapper1 {
    background-image: url(billeder/dot1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30%;
    height: 300px;
}

.circleWrapper2 {
    background-image: url(billeder/dot2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30%;
    height: 300px;
}

.circleWrapper3 {
    background-image: url(billeder/dot3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30%;
    height: 300px;
}

.circles {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0 4rem 0;
}

@media (max-width: 474px) {

    .circleWrapper1,
    .circleWrapper2,
    .circleWrapper3 {
        height: 140px;
    }
}

/*****COLOURBOKSE**/
.colourBox div {
    height: 7vw;
    width: 7vw;
    border: 1px solid black;
}

.colour1 {
    background-color: #019F55;
}

.colour2 {
    background-color: #002E50;
}

.colour3 {
    background-color: #832F63;
}

.colour4 {
    background-color: #F12143;
}

.colour5 {
    background-color: #F3BE37;
}

.colour6 {
    background-color: #FB4A3A;
}

.colour7 {
    background-color: #204D6A;
}

.colour8 {
    background-color: #5F506F;
}

.colourBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0rem 0.5rem 3rem 0;
}

/***UI**/
.uiElements img {
    max-width: 100%;
    height: auto;
}

/*PROJEKT SEX OG SAMFUND >>>*/
.projektSpil img {
    max-width: 100%;
    height: auto;
}


/*TEMA 4 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.temaDokumentation embed {
    width: 100%;
    height: 450px;
}

.webprototype img {
    width: 100%;
    max-width: 100%;
}

.webprototype + h5 {
    margin: 0;
}

.temaDokumentation li,
ul {
    margin-top: 1rem;
    list-style: circle;
    margin-left: 1rem;
}

.temaDokumentation ul li:first-of-type {
    margin-bottom: 0;
}

/*ABOUT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.me {
    background-image: url(billeder/201811102324238400139157830.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-width: 220px;
    height: 15rem;
    flex-basis: 1;
}

.aboutWrapper {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: row;
    padding-right: 2rem;
}

.aboutTxt p {
    margin: 0;
    padding: 0 2rem;
    min-width: 220px;
    flex-basis: 1;
}

@media (max-width: 500px) {

    .aboutWrapper {
        flex-direction: column;
    }

    .aboutTxt p {
        padding: 0;
    }
}
